html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:#FF7A00
}

.contents {
    width: 390px;
    margin: 0 auto;
    padding-bottom: 49px;
    background-color: white;
}

.contents img {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    text-align: center;
    background-color: black;
    width: 390px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

.text-box {
    font-size: 12px;
    font-weight: bold;
    color: #FF914D;
    margin-left: 10px;
    margin-right: 5px;
    padding-left: 6px;
    text-align: left;
    line-height: 1.5;
    display: inline-block;
    width: 100%;
}

.text-box br {
    display: block;
    content: "";
    margin: 0;
    padding: 0;
}

.countdown {
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.countdown .countdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.countdown span {
    font-size: 20px; /* 数字のサイズ */
    background-color: white;
    border: hsl(0, 93%, 43%);
    border-style:inset;
    border-width: 15px;
    width: 30px; /* ボックスの幅 */
    height: 35px; /* ボックスの高さ */
    color: white;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.countdown-label {
    margin-top: 5px; /* 数字のボックスとラベルの間隔をマイナスにして間に配置 */
    font-size: 12px;
    color: white;
    text-align: center; /* 中央揃え */
    white-space: nowrap; /* 文字を横一列に並べる */
}



.campaign {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.HeroSection {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.BOX {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 361px;
    background-color: #B0A500;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 54px;
}

.text-box2 {
    font-size: 12px;
    font-weight: bold;
    color: #FF3131;
    background-color: black;
    margin-left: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 6px;
    text-align: left;
    line-height: 1.5;
    display: inline;
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown2 {
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.countdown2 .countdown-item2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 0px;
}

.countdown2 span {
    font-size: 16px;
    background-color: white;
    height: 20px;
    color: red;
    border: black;
    border-width: 2px;
    border-style:groove;
    padding: 15px 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.countdown-label2 {
    margin-top: 5px;
    font-size: 12px;
    color: black;
    text-align: center;
    white-space: nowrap; /* 文字を横一列に並べる */
}

/* 背景画像を含むコンテナのスタイル */
.background {
    position: relative;
    text-align: center;
    width: 390px;
    height: auto;
}

/* ボタンの配置スタイル */
.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    cursor: pointer;
    width: 288px;
    height: 56px;
}

/* オーバーレイのスタイル */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* ポップアップウィンドウのスタイル */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}


@media screen and (min-width: 768px) {
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 650px;
        height: 650px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
    }
}

.popup img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-25px);
    }
}

.move-animation {
    animation: moveUpDown 2s ease-in-out infinite;
    width: 390px;
}

/* move-animation */
.move-animation2 {
    animation: moveUpDown 2s ease-in-out infinite;
    width: 390px;
    position: absolute;
    top: 724px;
    z-index: 1000;
}

/* タブメニューのスタイル */
.tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.tab-button {
    cursor: pointer;
    width: 195px;
    height: 127px;
}

/* タブコンテンツのスタイル */
.tab-content {
    display: none;
    text-align: center;
    margin-top: 0;
}

.tab-content.active {
    display: block;
}

/* タブ画像のスタイル */
.tab-content img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border: none;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 370px;
    background-color: black;
    padding: 10px;
    text-align: center;
    z-index: 2000;
}

.footerと同じ {
    background-color: rgb(201, 4, 4);
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    margin:0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(20px);
    }
    70% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.section10 {
    position: relative;
    overflow-x: auto;
    height: 540px;
}

.move-animation3 {
    animation: slide 2s ease-in-out infinite;
    width: 250px;
    position: relative;
    left: 120px;
    top: -3px;
}

.比較表 {
    white-space: nowrap; /* 横方向に並べる */
    touch-action: pan-x; /* タッチ操作でのスクロールを許可する */
}

.Section10-表 {
    height: 525px;
    width: 780px;
    cursor: grab;
    position: absolute;
    top: -7px;
    transition: left 0.1s ease-out; /* 左右に動かす時の滑らかなアニメーション */
    display: inline-block; /* 横に並べるための設定 */
}


.SNS{
    position: absolute;
    top: 764px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin:0;
    width: 370px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: red;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 0px #970303;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.left{
    position: fixed;
}
.footer-button2 {
    width:160px;
    position: absolute;
    bottom: 6px;
    left: 50px;
    overflow: hidden;
    display: inline-block;
    background-color: red;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 0px #970303;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.right{
    position: fixed;
}

.LINE{
    position: relative;
    top: 5px;
    overflow: hidden;
    display: inline-block;
    background-color: #06c755;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 0px #055024;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.Instagram{
    position: relative;
    top: 5px;
    overflow: hidden;
    display: inline-block;
    background: linear-gradient(-225deg, #FFD600 0%, #FF7A00 29%, #FF0069 45%, #D300C5 68%, #7638FA 100%);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 0px #450952;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.footer-button:hover {
    background-color: #ffffff;
    color: red;
    transform: translateY(-2px);
    box-shadow: none;
    font-size: 20px;
}

.footer-button2:hover {
    background-color: #ffffff;
    color: red;
    transform: translateY(-2px);
    box-shadow: none;
    font-size: 12px;
}

.LINE:hover {
    background-color: #06c755;
    color: white;
    transform: translateY(-2px);
    box-shadow: none;
    font-size: 16px;
}

.Instagram:hover {
    background-color: #ffffff;
    color: white;
    transform: translateY(-2px);
    box-shadow: none;
    font-size: 16px;
}

.free-label {
    color: #FF0000;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 3px 12px;
}

.free-label2 {
    color: #FF0000;
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 3px 12px;
}

.free-label3 {
    color: #FF0000;
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 3px 12px;
}

/* ボタンに光のスライド効果を追加 */
.footer-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
        opacity: 0;
    }
    10% {
        left: 0%;
        opacity: 1;
    }
    20% {
        left: 100%;
        opacity: 1;
    }
    40% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

/* ボタンに光のスライド効果を追加 */
.footer-button2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    animation: shine 1.5s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
        opacity: 0;
    }
    10% {
        left: 0%;
        opacity: 1;
    }
    20% {
        left: 100%;
        opacity: 1;
    }
    40% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

.left-tab{
    width: 300px;
}

.left{
    margin-right: 750px;
    margin-top: 100px;
    background-color: #FF7A00;
}
@media screen and (max-width:1020px){
    .left{
        display: none;
    }
}

.right-tab{
    width: 300px;
}

.right{
    margin-left: 750px;
    margin-top: 10px;
    background-color: #FF7A00;
}
@media screen and (max-width:1020px){
    .right{
        display: none;
    }
}

.HeroSection{
    width: 390px;
}
.Section1-1{
    width: 390px;
}

.Section1-2{
    width: 390px;
}

.Section2-1{
    width: 390px;
}

.Section2-2{
    width: 390px;
}

.Section3{
    width: 390px;
}

.Section4-1{
    width: 390px;
}

.Section4-2{
    width: 390px;
}

.Section5-1{
    width: 390px;
}

.Section5-2{
    width: 390px;
}

.Section6{
    width: 390px;
}

.Section7{
    width: 390px;
}

.Section8{
    width: 390px;
}

.Section9{
    width: 390px;
}

.Section10{
    width: 390px;
}

.名称未設定のデザイン{
    width: 390px;
}

.Section11-1{
    width: 390px;
}

.Section12{
    width: 390px;
    position: relative;
    bottom: 36px;
}